<!DOCTYPE html>
<html lang="en">
{{ partial "head.html" . }}
<body>
    <nav>
        <a href="/">Go back home</a>
    </nav>
    <div class="container">
        <article>
            <h1>{{ .Title }}</h1>
            <div class="post-dates">
                <time>{{ .Date.Format "2 January 2006" }}</time>
                {{ if ne .Lastmod .Date }}<span class="post-lastmod">Last mod: <time>{{ .Lastmod.Format "2 January 2006" }}</time></span>{{ end }}
            </div>
            <div>{{ .Content }}</div>
        </article>
        <a href="https://twitter.com/search?q={{.Permalink}}" target="_black" rel="noopener">Discuss on Twitter</a>
    </div>
</body>
</html>
