<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{- if .IsPage }}{{ .Title }}{{ else }}{{ .Site.Title }}{{ end -}}</title>
    <meta name="description" content="{{- if .IsPage }}{{ .Description }}{{ else }}Nicolás Parada's Blog{{ end -}}">
    <meta name="author" content="Nicolás Parada">
    {{- if .IsPage }}
    <meta name="keywords" content="{{ range $index, $tag := .Params.tags }}{{ $tag }},{{ end }}">
    {{ end -}}
    <meta name="theme-color" content="#000">
    <link rel="manifest" href="/manifest.json">
    <link rel="shortcut icon" href="data:,">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css?family=Fira+Mono:400,700|PT+Sans:400,700|PT+Serif:400,400i,700" rel="stylesheet">
    <link rel="stylesheet" href="/styles.css">
    {{- if .IsPage }}<link rel="stylesheet" href="/syntax.css">{{ end -}}
    <link rel="alternate" href="/index.xml" type="application/rss+xml" title="RSS">
    {{ template "_internal/opengraph.html" . }}
    {{ template "_internal/twitter_cards.html" . }}
    {{ template "_internal/schema.html" . }}
    {{- if .IsPage }}
    <script src="/external-links.js" defer></script>
    <script src="/comments.js" defer></script>
    {{ end -}}
    <script>
        const isLocalhost = ['localhost', '127.0.0.1'].includes(location.hostname)
        if (!isLocalhost && 'serviceWorker' in navigator) {
            addEventListener('load', () => {
                navigator.serviceWorker.register('/sw.js')
            })
        }
    </script>
</head>
