:root {
    --color: white;
    --accent-color: hsl(217, 87%, 70%);
    --inline-code-color: white;
    --muted-color: hsl(0, 0%, 61%);
    --bgcolor: black;
    --second-bgcolor: hsl(0, 0%, 12%);
    --hover-bgcolor: hsl(0, 0%, 20%);
    --active-bgcolor: hsl(0, 0%, 40%);
    --root-bgcolor: hsl(0, 0%, 4%);
    --sans-serif-font-family: 'PT Sans', sans-serif;
    --monospace-font-family: 'Fira Code Retina', 'Fira Code', 'Fira Mono', monospace;

    background-color: var(--root-bgcolor);
    box-sizing: border-box;
    color: var(--color);
    font-size: 19px;
    font-family: var(--sans-serif-font-family);
    line-height: 1.6;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

*,
::before,
::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding-bottom: 3rem;
}

.container {
    margin: 0 auto;
    max-width: 65ch;
    padding: 0 1rem;
    /* width: calc(100% - 2rem); */
}

h1 {
    font-size: 2rem;
}

a {
    color: var(--accent-color);
}

a:hover {
    text-decoration: underline;
}

img {
    max-width: 100%;
}

time,
.post-lastmod {
    color: var(--muted-color);
    font-size: .8125rem;
    white-space: nowrap;
}

hr {
    margin: 3rem 0;
    border-color: var(--muted-color);
}

pre {
    background-color: var(--bgcolor);
    width: 100vw;
    position: relative;
    margin-left: -50vw;
    left: 50%;
}

code {
    font-family: var(--monospace-font-family);
    font-size: .8125rem;
    background-color: var(--bgcolor);
    padding: 0 .25rem;
    color: var(--inline-code-color);
    overflow-wrap: break-word;
}

pre code {
    display: block;
    color: inherit;
    overflow-x: auto;
    background: none;
    max-width: 65ch;
    width: 100%;
    margin: 0 auto;
    padding: 2rem 1rem;
}

pre code::-webkit-scrollbar {
    display: none
}

article img {
    border-radius: .5rem;
    display: block;
    margin: 0 auto;
}

nav {
    align-items: center;
    display: flex;
    height: 3rem;
    padding: 0 1rem;
}

.site-title {
    margin: 1rem 0;
}

.site-title h1 {
    margin-right: .5rem;
    display: inline;
}

.site-title span {
    color: var(--muted-color);
}

.social a {
    color: inherit;
    text-decoration: none;
}

.social a + a {
    margin-left: .5rem;
}

.post-list {
    list-style: none;
    padding: 0;
}

.post-item {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.post-item time {
    white-space: nowrap;
}

.post-item + .post-item {
    margin-top: .5rem;
}

.post-dates {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 0;
}

.feather {
    width: 1.25rem;
    height: 1.25rem;
}

.with-icon {
    display: inline-flex;
    align-items: center;
}

.with-icon span {
    margin-left: .25rem;
}

.retweet-link {
    background-color: var(--bgcolor);
    border-radius: .5rem;
    padding: 1rem;
    margin-top: 2rem;
}

.comments:not(:empty) {
    margin-top: 3rem;
}

.snackbar {
    position: fixed;
    bottom: .5rem;
    right: .5rem;
    background-color: var(--bgcolor);
    padding: 1rem;
    border-radius: .5rem;
    animation: slideup .25s cubic-bezier(.4,0,1,1) 0ms;
}

.snackbar[aria-hidden=true] {
    display: none;
}

.snackbar button {
    margin-left: auto;
    margin-top: .5rem;
    display: block;
}

button {
    height: 2rem;
    padding: 0 1rem;
    border-radius: 1rem;
    background-color: var(--second-bgcolor);
    border: none;
    color: inherit;
    font: inherit;
}

button:hover {
    background-color: var(--hover-bgcolor);
}

button:active {
    background-color: var(--active-bgcolor);
}

@keyframes slideup {
    from {
        transform: translateY(100%);
    }

    to {
        transform: translateY(0);
    }
}
